version: '3.8'

services:
  app:
    build: .
    restart: always
    ports:
      - "8501:8501"
    environment:
      - DB_HOST=db
      - DB_NAME=ordens_servico
      - DB_USER=postgres
      - DB_PASSWORD=P0IsA6RZPvtLVKnd2+ifP1ruWFWj9+D90jDOw6PuqZ0=
      - TZ=America/Sao_Paulo
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "./wait-for-db.sh && streamlit run app.py --server.port=8501 --server.address=0.0.0.0"

  db:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_DB=ordens_servico
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=P0IsA6RZPvtLVKnd2+ifP1ruWFWj9+D90jDOw6PuqZ0=
      - TZ=America/Sao_Paulo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # PORTA REMOVIDA - PostgreSQL não será mais exposto publicamente
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  backup:
    build:
      context: .
      dockerfile: backup.dockerfile
    restart: always
    environment:
      - DB_HOST=db
      - DB_NAME=ordens_servico
      - DB_USER=postgres
      - DB_PASSWORD=P0IsA6RZPvtLVKnd2+ifP1ruWFWj9+D90jDOw6PuqZ0=
      - TZ=America/Sao_Paulo
    volumes:
      - ./backups:/backups
    depends_on:
      - db

volumes:
  postgres_data:
